.herosection {
    @include flex;
    justify-content: space-between;
    margin-top: 20px;
    &-card {
        @include left;
        width: 780px;
        height: 480px;
        background-image: url("/img/hero-img.png");
        background-size: cover;
        background-color: #FFFFFF;
        border-radius: 12px;
        &__title {
            max-width: 483px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 49px;
            background: linear-gradient(90deg, #0A4ECB 0%, #4788FF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            scrollbar-color: transparent;
            margin-top: 60px;
        }
        &__subtitle {
            max-width: 440px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            color: #36383F;
            margin-bottom: 45px;
            background-color: #FFFFFF;
        }
        &__link {
            background: linear-gradient(90deg, #F04716 0%, #FFC62F 100%);
            border-radius: 12px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            padding: 20px 36px;
            color: #FFFFFF;
            border-radius: 5px;
        }
    }
}
.back {
    @include left;
    max-width: 380px;
    height: 230px;
    background: url("/img/hero-img3.png");
    background-size: cover;
}
.heading-card {
    @include left;
    width: 380px;
    height: 230px;
    background: url("/img/hero-img2.png");
    margin-bottom: 20px;
    &__title {
        max-width: 250px;
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        color: #36383F;
        padding-top: 30px;
        margin-bottom: 20px;
        background-color: transparent;
    }
    &__subtitle {
        max-width: 230px;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: #36383F;
        margin-bottom: 40px;
        background-color: transparent;
    }
    &__link {
        color: #0A4ECB;
    }
}
.fa-angle-right {
    background-color: transparent;
}
.margin {
    margin-bottom: 61px;
}